.form-header {
    text-align: center !important;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ol.items {
    display: table;
    margin: 0 auto;
}

.edit-button {
    margin-right: 20px;
}

.delete-button {
    margin-right: 10px;
}

.update-button {
    margin-right: 10px;
}

.cancel-button {
    margin-right: 10px;
}

.undo-button {
    margin-left: 10px;
}

.element {
    margin-right: 20px;
}

li#changeName {
    margin-bottom: 10px;
}